section#home.tt-fullHeight(data-stellar-vertical-offset='50', data-stellar-background-ratio='0.2')
  .intro
    .intro-sub
      br
      br

    div(style='\
        display: block;\
        color: white;\
        ')
      img(src='images/logo.png', alt='logo')

    .social-icons
      ul.list-inline
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-behance
        li
          a(href='#')
            i.fa.fa-dribbble
        li
          a(href='#')
            i.fa.fa-pinterest
    // /.social-icons
  .mouse-icon
    .wheel
// End Home Section
