//colors
$color_log_cabin_approx: #222;
$color_mirage_85_approx: rgba(26, 30, 35, 0.85);
$color_shakespeare_approx: #52b3d9;
$color_tradewind_approx: #68c3a3;
$color_black_haze_approx: #f7f7f7;
$white: #fff;

//urls
$url_0: url(../images/home2.jpg);

@media(max-width : 640px) {
  .tt-fullHeight {
    height: 560px !important;
  }
}
#home {
  background: $url_0 no-repeat center center;
  background-attachment: fixed;
  background-color: $color_log_cabin_approx;
  background-size: cover;
  padding: 0;
  position: relative;
  &:before {
    content: "";
    background-color: $color_mirage_85_approx;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(0%, -50%);
  padding: 0 15px;
  h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    color: $color_shakespeare_approx;
    span {
      color: $color_tradewind_approx;
    }
  }
  p {
    color: $color_black_haze_approx;
    margin-bottom: 40px;
  }
}
.intro-sub {
  color: $white;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}
.social-icons {
  margin-top: 20px;
  a {
    i {
      position: relative;
      color: $white;
      font-size: 18px;
      margin: 0 7px;
      line-height: 40px;
      text-align: center;
      width: 40px;
      height: 40px;
      &:hover::after {
        background: $color_tradewind_approx;
        border: 1px solid transparent;
        z-index: 0;
      }
    }
    i::before {
      position: relative;
      z-index: 1;
    }
    i::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      border: 1px solid $white;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 3px;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: rotate(45deg);
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 300ms;
    }
  }
}
